.contact-card {
    background: radial-gradient(circle at top left, #000029, #000010 70%);
    border: 0.1px solid #4079ff;
}

::placeholder {
    color: white !important;
    opacity: 1; 
}

.custom-input {
    background-color: #1a1a2e; 
    border: 0.1px solid #4079ff;
}

.card .form-control {
    background-color: #1a1a2e;
    color: white;
    border: 0.1px solid #444;
}


input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #1a1a2e inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white; /* keeps typing cursor visible */
}


input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #1a1a2e inset !important;
  -webkit-text-fill-color: white !important;
}

/* On very small screens */
@media (max-width: 576px) {
  .responsive-form {
    margin: 0 1rem;
    max-width: 100%;
  }
  .responsive-form button {
    width: 100%;
  }
  .contact-card {
    padding: 1.5rem !important;
    margin: 0 1rem;  
  }

  .contact-card .form-control {
    font-size: 0.9rem; 
  }

  .contact-card button {
    width: 100%; 
  }
}

/* Tablets */
@media (min-width: 577px) and (max-width: 991px) {
  .responsive-form {
    max-width: 600px;
  }
  .contact-card {
    width: 80% !important;
  }
}

.responsive-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.contact-icon {
  width: 60px;
  height: 60px;
  border-radius:10%;
  font-size: 1.5rem;
  transition: transform 0.2s;
}

.contact-icon:hover {
  transform: scale(1.1);
}