.computer-img {
    filter: 
      drop-shadow(0 0 20px rgba(64, 121, 255, 0.8))   /* main glow */
      drop-shadow(0 0 90px rgba(64, 121, 255, 0.5))   /* softer outer glow */

  }

/* Make image move closer to text on large screens */
@media (min-width: 992px) {
  .overlap-img {
      margin-left: -50px; /* adjust to get desired spacing */
  }
}

/* Optional: slightly scale down on smaller screens for better fit */
@media (max-width: 991px) {
  .overlap-img img {
      max-width: 90%;
  }
}