.about-img {
    max-width: 950px;
    width: 100%;
    max-width: 350px;
    height: auto;
}

/* Tablets */
@media (max-width: 991px) {
    .about-img {
      max-width: 200px;
    }
  }
  
  /* Phones */
  @media (max-width: 480px) {
    .about-img {
      max-width: 150px;
      margin: 0 auto 1.5rem auto;
      display: block;
    }
    .about-buttons {
        margin-bottom: 2rem;
    }

  }